:root {
    --bg: #f4f4f4;
    --card: #ffffff;
    --text: #000;
}

body.dark {
    --bg: #121212;
    --card: #1e1e1e;
    --text: #fff;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: var(--card);
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

button {
    background: black;
    color: white;
    border: none;
}

.progress-box {
    height: 10px;
    background: #ccc;
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: green;
}

.header {
    display: flex;
    justify-content: space-between;
}
